body {
    background-color: #212529;
}

*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
    background-color: white;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
/*CSS DE CARUSSEL*/
.container-carrusel {
    padding: 0rem;
    max-width: 100%;
    max-height: 50%;
}

.slider-wrapper {
    position: relative;
    width: 100%; /* Cambia max-width a width */
    overflow: hidden; /* Añade overflow: hidden para evitar el desbordamiento */
}

.slider {
    display: flex;
    aspect-ratio: 21 / 9;
    width: 100%; /* Ajusta el ancho al 100% */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: black;
    opacity: 0.75;
    transition: opacity ease 150ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/*CSS DE FOOTER*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  --white: #fff;
  --brand-500: #10b981;
  --gray-100: #f1f5f9;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-800: #1e293b;
  --gray-900: #0f172a;
}

body {
  font-family: "Inter", sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 2rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-info {
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-900);
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.footer-title svg {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--white);
  padding: 0.5rem;
  background-color: var(--brand-500);
  border-radius: 50%;
}

.footer-title span {
  margin-left: 0.5rem;
}

.footer-tagline {
  color: #C7BEA0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer-section-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer-category {
  color: var(--gray-900);
  color: #C7BEA0;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  list-style-type: none;
}

.footer-link {
  color: #C7BEA0;
  text-decoration: none;
}

.footer-link:hover {
  color: whitesmoke;
}

.footer-bottom {
  background-color: #212121;
}

.footer-bottom-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 1.25rem 2rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-copyright {
  color: #C7BEA0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.footer-social-icon{
  color: whitesmoke;
}

.footer-social-icon svg {
  width: 1.25rem;
  height: 1.25rem;
}

/* Small breakpoint */
@media (min-width: 640px) {
  .footer-container {
    flex-direction: row;
  }

  .footer-info {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .footer-title {
    justify-content: flex-start;
  }

  .footer-section-wrapper {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer-bottom-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav-link{
  color: #C7BEA0;
}
.nav-link:hover{
  color: whitesmoke;
}

.dropdown-item{
  color: #C7BEA0;
}
.dropdown-item:hover{
  color: whitesmoke;
}
